@import "../navigation/hamburger_menu/_hamburger_menu"
@import "../navigation/user/_user"
@import "../navigation/search/_search"
@import "../navigation/cart/_cart"
    


.__nav
    .col
        display: flex
        align-items: center

        &:last-child
            justify-content: flex-end