@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap')
@import "./_variables"
@import "./_media-queries"


    
* 
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Poppins", sans-serif

body 
    width: 100vw
    overflow-x: hidden


    
input
    border: none
    outline: none
    background-color: transparent    
    width: 100%
    font-weight: 500
    color: $white

    &::placeholder
        font-weight: 500
        color: $white

.circle 
    border-radius: 50%
    box-shadow: 0 5px 15px rgba($black, .75)
    position: relative

    &.medium
        width: 35px
        height: 35px