//Colors    
$white: rgb(255 255 255)
$black: rgb(0 0 0)

$lightGray: rgb(32 35 34)
$lighterGray: rgb(24 25 25)
$lightestGray: rgb(95 97 96)

$red: rgb(254 101 90)

//Font sizes
$smallest: 0.75rem
$small: 0.85rem
$medium: 1rem