.content_row_one_col_two
    
    h1 
        font-size: $headingOne
        font-weight: 600
        color: $white
        line-height: 1.4

    .rating
        img
            width: 13px

        small 
            color: $lightestGray
            margin-left: 0.35rem
            font-weight: 600

.content_row_one_col_one
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start

    h4
        font-size: $headingFour
        font-weight: 500
        color: $white
        line-height: 1.3
        width: 0
        overflow: visible

    a 
        font-size: $linkSize
        font-weight: 500
        color: $lightestGray
        margin-top: 0.5rem