@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
button {
  background-color: transparent;
  outline: 0;
  border: none;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(95, 97, 96);
  border: 2px solid rgb(95, 97, 96);
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}
.btn:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn_small {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.btn_small:hover {
  background-color: transparent;
}

.btn_large {
  height: 3rem;
  padding: 0 2rem;
}

.btn_red {
  background-color: rgb(254, 101, 90);
  border-color: rgb(254, 101, 90);
}
.btn_red:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.btn_white {
  background-color: transparent;
  border-color: rgb(255, 255, 255);
}
.btn_white:hover {
  background-color: rgb(255, 255, 255);
}
.btn_white:hover svg > circle {
  fill: rgb(0, 0, 0);
}

.btn_slider_large {
  background-color: rgb(1, 1, 1);
  border-color: rgb(1, 1, 1);
  color: rgb(255, 255, 255);
}

.btn_slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_slider img {
  width: 0.35rem;
}
.btn_slider.btn_slider_next {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.col_prices {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 1.5rem;
}
.col_prices .price_new {
  color: rgb(254, 101, 90);
  font-size: 1.25rem;
  font-weight: 600;
}
.col_prices .price_old {
  font-size: 0.85rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  background-color: rgb(32, 35, 34);
  overflow-x: hidden;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
input::-moz-placeholder {
  font-weight: 500;
  color: rgb(255, 255, 255);
}
input:-ms-input-placeholder {
  font-weight: 500;
  color: rgb(255, 255, 255);
}
input::placeholder {
  font-weight: 500;
  color: rgb(255, 255, 255);
}

li {
  list-style-type: none;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: rgb(95, 97, 96);
}

.icon {
  width: 0.9rem;
}

.divider {
  margin: 0 1.5rem;
  width: 1px;
  height: 3rem;
  background-color: rgb(95, 97, 96);
}

.divider_horizontal {
  width: 100%;
  margin: 0 1rem;
  height: 1px;
  background-color: rgb(95, 97, 96);
}

.circle {
  border-radius: 50%;
}
.circle.smallest {
  width: 7px;
  height: 7px;
}
.circle.small {
  width: 26px;
  height: 26px;
}
.circle.medium {
  width: 35px;
  height: 35px;
}

.layout_sidebar {
  width: 400px;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgb(24, 25, 25);
  border-right: 1px solid rgb(32, 35, 34);
  transform: translateX(-400px);
}

.grid_layout {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 35vh 65vh;
  grid-template-areas: "layout_row_one" "layout_row_two";
  transition: all 1200ms ease;
}
.grid_layout.sidebar_active {
  transform: translateX(400px);
  grid-template-columns: calc(100vw - 400px);
}
.grid_layout.sidebar_active .layout_row_one {
  grid-template-columns: calc(100vw - 400px);
}
.grid_layout.sidebar_active .layout_sidebar {
  transform: translateX(-400px);
}
.grid_layout .layout_row_one {
  grid-area: layout_row_one;
  background-color: rgb(32, 35, 34);
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 12.5vh calc(100% - 12.5vh);
  grid-template-areas: "layout_row_one_nav" "layout_row_one_content";
  transition: all 1200ms ease;
}
.grid_layout .layout_row_one .__nav {
  grid-area: layout_row_one_nav;
  display: grid;
  grid-template-columns: 200px auto 200px 100px;
  background-color: rgb(24, 25, 25);
}
.grid_layout .layout_row_one .__content {
  grid-area: layout_row_one_content;
  display: grid;
  grid-template-columns: 200px auto 30vw;
}
.grid_layout .layout_row_two {
  grid-area: layout_row_two;
  background-color: rgb(24, 25, 25);
  display: grid;
  grid-template-columns: 200px auto 225px 240px;
}
.grid_layout .row_two_col_four {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: calc(100% - (145px + 0.5rem)) 145px;
  row-gap: 0.5rem;
}

.row .col:nth-child(1), .row .col:nth-child(2) {
  padding-left: 2rem;
}

.row:not(:last-child) .col:last-child {
  padding-right: 2rem;
}

.menu_icon {
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: all 1200ms ease;
}
.menu_icon.menu_icon_close {
  transform: translateX(-55px);
}
.menu_icon.menu_icon_close .line {
  width: 13px;
}
.menu_icon.menu_icon_close .line:first-child {
  transform: translateY(3.5px) rotate(-45deg);
}
.menu_icon.menu_icon_close .line:nth-child(2) {
  opacity: 0;
}
.menu_icon.menu_icon_close .line:last-child {
  transform: rotate(45deg);
}
.menu_icon .line {
  width: 20px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 300ms ease;
}
.menu_icon .line:not(:last-child) {
  margin-bottom: 4px;
}

.user {
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.user img {
  width: 35px;
  height: 35px;
  border-radius: 1000px;
}
.user .status {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: rgb(254, 101, 90);
  border-radius: 50%;
  border: 4px solid rgb(24, 25, 25);
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
}
.search .search_icon {
  width: 21px;
  margin: 0.25rem 0.5rem 0 0;
}

.cart {
  background-color: rgb(254, 101, 90);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .cart_items {
  font-size: 0.75rem;
  font-weight: 600;
}

.price {
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin: 2px 0 0 0.5rem;
}

.__nav .col {
  display: flex;
  align-items: center;
}
.__nav .col:last-child {
  justify-content: flex-end;
}

.content_row_one_col_two h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 1.4;
}
.content_row_one_col_two .rating img {
  width: 13px;
}
.content_row_one_col_two .rating small {
  color: rgb(95, 97, 96);
  margin-left: 0.35rem;
  font-weight: 600;
}

.content_row_one_col_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.content_row_one_col_one h4 {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 1.3;
  width: 0;
  overflow: visible;
}
.content_row_one_col_one a.back_link {
  font-size: 0.85rem;
  font-weight: 500;
  color: rgb(95, 97, 96);
  margin-top: 0.5rem;
  text-decoration: underline;
}

.right_slider {
  z-index: 5;
}

.slider_box_image {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: rgb(1, 1, 1);
  border: 1px solid rgb(32, 35, 34);
  margin-bottom: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.slider_box_image img {
  width: 75px;
  transition: all 300ms ease;
}
.slider_box_image:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_box_image:first-child img {
  align-self: flex-end;
}
.slider_box_image:nth-child(2) {
  justify-content: flex-end;
}
.slider_box_image:hover img {
  transform: scale(1.15);
}
.slider_box_image:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next_image {
  display: flex;
  align-items: center;
  background-color: rgb(1, 1, 1);
  overflow: hidden;
}
.next_image img {
  filter: blur(3px);
  transform: translateX(-235px);
}

.slider_numbers {
  display: flex;
  align-items: center;
}
.slider_numbers span {
  color: rgb(255, 255, 255);
  font-size: 0.85rem;
  font-weight: 500;
}
.slider_numbers .current_number {
  color: rgb(254, 101, 90);
}

.slider {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;
  z-index: 1;
}
.slider .circles {
  display: flex;
  align-items: center;
  margin: 0 3.5rem;
}
.slider .circle_slider {
  background-color: rgb(95, 97, 96);
}
.slider .circle_slider:not(:last-child) {
  margin-right: 0.7rem;
}
.slider .circle_slider:not(.active_slide) {
  width: 4px;
  height: 4px;
}
.slider .circle_slider.active_slide {
  background-color: rgb(254, 101, 90);
}

.current_slider_image {
  position: absolute;
  top: 0;
  width: 615px;
  z-index: 1;
}

.__content .col {
  display: flex;
}
.__content .col:last-child {
  justify-content: flex-end;
}

.col.content_row_one_col_two {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.col.content_row_one_col_three {
  align-items: center;
}

.col.content_row_two_col_one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.col.row_two_col_two {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.col.row_two_col_three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.5rem;
}

.layout_row_two {
  position: relative;
}
.layout_row_two .category_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(20vw - 12.5rem);
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: rgb(32, 35, 34);
  z-index: 1;
}

.row_two_col_four {
  z-index: 5;
}

.side_nav {
  margin-top: 3rem;
}
.side_nav .link {
  color: rgb(95, 97, 96);
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.4rem 0;
  position: relative;
  z-index: 1;
}
.side_nav .link > a {
  position: relative;
  transition: all 300ms ease-in-out;
}
.side_nav .link > a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 50%;
  background-color: rgb(254, 101, 90);
  z-index: -1;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.side_nav .link > a:hover {
  color: rgb(255, 255, 255);
}
.side_nav .link > a:hover::before {
  width: 100%;
  opacity: 1;
}
.side_nav .link.active_link a {
  color: rgb(255, 255, 255);
}
.side_nav .link.active_link a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(254, 101, 90);
  z-index: -1;
  opacity: 1;
}

.button_group {
  display: flex;
  margin-bottom: 3.5rem;
}
.button_group .btn:first-child {
  margin-right: 0.5rem;
}/*# sourceMappingURL=index.css.map */