button
    background-color: transparent
    outline: 0
    border: none
    cursor: pointer

.btn_small 
    width: 3rem
    height: 3rem
    @include centerMiddle
    background-color: $lightestGray
    border-radius: 50%