@import "../content/product_info/_product_info"
@import "../slider/_slider"



.__content
    .col
        display: flex

        &:last-child
            justify-content: flex-end

.col.content_row_one_col_two
    flex-direction: column
    align-items: flex-start
    justify-content: center

.col.content_row_one_col_three
    align-items: center

.col.content_row_two_col_one
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start

.col.row_two_col_two
    display: flex
    justify-content: center
    align-items: flex-end
    position: relative

.col.row_two_col_three
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 3.5rem

.layout_row_two
    position: relative

    .category_name
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: $largest
        font-weight: 500
        letter-spacing: 0.5rem
        color: $lightGray
        z-index: 1

.row_two_col_four
    z-index: 5