@import "../content/product_info/_product_info"



.__content
    .col
        display: flex
        align-items: center

        &:last-child
            justify-content: flex-end

.col.content_row_one_col_two
    flex-direction: column
    align-items: flex-start
    justify-content: center